.vazir-font{
    font-family: Vazir;
}

.ProductAdder {
    margin: 5% 10%;
    font-family: Iranian Sans;
    font-weight: 700;
    padding: 4%;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 5.5px;
    background-color: aliceblue;
    /* background-color: #9e8fb2; */
    /* background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%); */
    /* background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%); */
}


h2.mainHeader
{
    text-align: center;
    color: white;

    background: -webkit-linear-gradient(rgb(245, 11, 11),#333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
